body{
    background: #f5f5f5;
}

.cardAdminIndex{
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.cardAdminIndex div{
    background-color: #38889B;
    color: white;
    padding: 1.5em;
    font-size: 2em;
    box-shadow: 0 3px 5px grey;
    margin: 40px;
}

.cardAdminIndex div p{
    font-size: 2.5em;
    margin: 20px;
}

.contenedorFlex, .contenedorFlexEdit, #cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
}

.contenedorFlexChild{
    flex: 0 0 49%;
}

.contenedorFlexInput{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}

.contenedorFlexInput label{
    flex: 0 0 5%;
    font-weight: bold;
}

.contenedorFlexInput input, .contenedorFlexInput select{
    flex: 0 0 20%;
}

.doubleTam{
    font-size: 2em;
}

#cursos{
    display: none;
}

#cursos label{
    flex: 0 0 45%;
}

#hamburguer{
    cursor: pointer;
}

header a {
    text-decoration: none;
}

header a:hover{
    color: #38889B;
    background-color: #FFFFFF;
}

h1{
    color: #38889B;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

h2, h3, h4{
    color: #337687;
}

i, .contenedorFlexInput label {
    color: #38889B;
}

.i-checks{
    display: inline-block;
    margin: 0 .5em;
}

input[type="submit"], .checkAbrir, .checkCerrar, .azulTemaButton, .checkNewSancion, #busqueda, .botonSubmit {
    background-color: #38889B;
    text-indent: 0;
}

input[type="submit"]:hover{
    background-color: #38889B!important;
    color: #FFFFFF!important;
}

input::-webkit-input-placeholder{
    color: #38889B;
}

input::-moz-placeholder{
    color: #38889B;
}

#intro .overlay{
    background-color:rgba(0, 0 , 0 , .9) ;
}

.labelCheck{
    margin: 10px 15px 10px 0;
}

table a {
    text-decoration: underline;
}

tr:hover, tr:hover a{
    background-color: #38889B!important;
    color: #FFFFFF!important;

}

th {
    background-color: #38889B;
    color: #FFFFFF;
}


form textarea{
    min-height: 200px;
}

form input{
    text-indent: 5px;
}

form .minTextArea{
    min-height: 150px;
}

.formConvivencia>div>div{
    margin: 15px 0;
}

nav{
    display: none;
}

.paginator{
    color: #316f80;
    text-align: center;
    padding: 1em;
}

.selectForm input{
    display: inline-block;
    vertical-align: middle;
    width: 8%;
}

.selectForm label{
    display: inline-block;
    vertical-align: top;
    width: 89%;
    margin-bottom: .7em;
}

.text-orange{
    color: #f37f00;
}

.text-darkRed{
    color: darkred;
}

.marginTopMobile{
    margin-top: 2em;
}

.marginTop{
    margin-top: 2em;
}

.marginBottom{
    margin-bottom: 10px;
}

.widthChartMobile{
    width: 80%;
    margin: 20px auto;
}


@media (min-width: 768px) {
    .w3-col.s12 {
        width: 60%;
    }
    .widthChartMobile{
        width: 80%;
    }

    .marginTopNoMobile{
        margin-top: 20px;
    }
}

@media (min-width: 1024px) {
    .w3-col.s12 {
        width: 100%;
    }

    .cardAdminIndex{
        min-height: 500px;
        display: flex;
        align-items: center;
    }

    #hamburguer{
        display: none;
    }

    .marginTopMobile{
        margin-top: 0;
    }

    nav{
        display: block!important;
    }
}

@media only screen and (min-width: 1500px) {
    .widthChartMobile{
        width: 60%;
    }
}




/* Estilo materialize */


/* label focus color */
.input-field input[type=text]:focus + label, .colorForm {
    color: #38889B;
}
/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #38889B;
    box-shadow: 0 1px 0 0 #38889B;
}
/* valid color */
.input-field input[type=text].valid {
    border-bottom: 1px solid #38889B;
    box-shadow: 0 1px 0 0 #38889B;
}
/* invalid color */
.input-field input[type=text].invalid {
    border-bottom: 1px solid #38889B;
    box-shadow: 0 1px 0 0 #38889B;
}
/* icon prefix focus color */
.input-field .prefix.active {
    color: #38889B;
}

.input[type=select]{
   display: block!important;
}