body{
    background: #f5f5f5;
}

.contenedorFlex, .contenedorFlexEdit, #cursos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 1em 0;
}

.contenedorFlexChild{
    flex: 0 0 49%;
}

.contenedorFlexInput{
    display: flex;
    flex-wrap: wrap;
    margin: 1em 0;
}

.contenedorFlexInput label{
    flex: 0 0 5%;
    font-weight: bold;
}

.contenedorFlexInput input, .contenedorFlexInput select{
    flex: 0 0 20%;
}

#cursos{
    display: none;
}

#cursos label{
    flex: 0 0 45%;
}

header a {
    text-decoration: none;
}

header a:hover{
    color: #38889B;
    background-color: #FFFFFF;
}

h1{
    color: #38889B;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

h2, h3, h4{
    color: #337687;
}

i, .contenedorFlexInput label {
    color: #38889B;
}

.i-checks{
    display: inline-block;
    margin: 0 .5em;
}

input[type="submit"], .checkAbrir, .checkCerrar, .azulTemaButton, .checkNewSancion, #busqueda, .botonSubmit {
    background-color: #38889B;
    text-indent: 0;
}

input[type="submit"]:hover{
    background-color: #38889B!important;
    color: #FFFFFF!important;
}

tr:hover{
    background-color: #38889B!important;
    color: #FFFFFF!important;

}

th {
    background-color: #38889B;
    color: #FFFFFF;
}


form textarea{
    min-height: 200px;
}

form input{
    text-indent: 5px;
}

form .minTextArea{
    min-height: 150px;
}

.formConvivencia>div>div{
    margin: 15px 0;
}

.paginator{
    color: #316f80;
    text-align: center;
    padding: 1em;
}

.selectForm input{
    display: inline-block;
    vertical-align: middle;
    width: 8%;
}

.selectForm label{
    display: inline-block;
    vertical-align: top;
    width: 89%;
    margin-bottom: .7em;
}

.text-orange{
    color: #f37f00;
}

.text-darkRed{
    color: darkred;
}


@media (min-width: 768px) {
    .w3-col.s12 {
        width: 60%;
    }
}

@media (min-width: 1024px) {
    .w3-col.s12 {
        width: 40%;
    }
}