{% extends 'base.html.twig' %}

{% block body %}

    {% block header %}
        <header class="w3-container w3-teal">
            <a href="#"
               class="w3-padding w3-mobile w3-left w3-hover-grey w3-xlarge">Admin</a>
            <a href="{{ path('convivencia_registro') }}"
               class="w3-padding w3-mobile w3-left w3-hover-grey w3-xlarge">Registro</a>
            {{ parent() }}
        </header>
    {% endblock %}
{% endblock %}
