{% extends 'base.html.twig' %}

{% block body %}
    <h1>Registro</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" name="registrarse" value="Registrarse">
    {{ form_end(form) }}


{% endblock %}
